// #ffbc73 #FFA340 #A65600 #BF7A30 #FF8500 #ffca86

// $col-p0: #fefefe;
// $col-p1: #ffefda;
// $col-p2: #ffae45;
// $col-p3: #d1924f;
// $col-p4: #bf7a30;
// $col-p5: #8e5314;

$col-p0: #fefefe;
$col-p1: #edede9;
$col-p2: #f5ebe0;
$col-p3: #e3d5ca;
$col-p4: #d5bdaf;
$col-p5: #d6ccc2;

$col-m1: rgb(240, 58, 3);
$col-m2: rgb(108, 47, 0);
$col-m3: rgba(255, 255, 255, 0.1);
