.menu {
	position: absolute;
	right: 0;
	top: 0;
	max-width: 360px;
	min-width: 360px;
	height: 100vh;
	background: $col-p5;
	z-index: 4;

	@media screen and (max-width: 360px) {
		min-width: 0;
		width: 100%;
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		border-bottom: 1px solid $col-m3;
		position: relative;

		img {
			position: absolute;
			// left: 12px;
			// top: 7px;
			left: 0;
			top: 0;
			padding: 5px;
			margin: 5px;
			cursor: pointer;
			border-radius: 8px;
			&:hover {
				background: $col-m3;
			}
		}
	}

	.coupons {
		padding: 15px;

		.coupon {
			display: flex;
			flex-direction: column;
			padding: 10px;
			background-color: $col-m3;
			gap: 10px;
			border-radius: 8px;

			.coupon_title {
				display: flex;
				justify-content: center;
				border-bottom: 1px solid $col-m3;
				padding-bottom: 5px;
			}

			.positions {
				.pos_title {
					font-size: 13px;
				}

				.position {
				}
			}

			.use_button {
			}

			.desc {
				font-size: 12px;
			}
		}
	}
}
