.menu {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 360px;
    min-width: 360px;
    height: 100vh;
    background: $col-p4;
    z-index: 4;
    overflow: none;
    box-shadow: 0px 0 15px rgba(1, 1, 1, 0.1);
    /* border-left: 2px solid $col-p5; */

    @media screen and (max-width: 360px) {
        min-width: 0;
        width: 100%;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 17px;
        border-bottom: 2px solid $col-m3;
        position: relative;

        img {
            position: absolute;
            left: 0;
            top: 0;
            padding: 5px;
            margin: 5px;
            cursor: pointer;
            border-radius: 8px;
            &:hover {
                background: $col-m3;
            }
        }
    }

    .coupons {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow: scroll;
        height: calc(100vh - 42px);
    }
}
