.shift_body {
	display: flex;
	flex-direction: column;

	.products {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.product_type {
			user-select: none;
			border-radius: 8px;
			background: $col-p4;
			padding-bottom: 5px;

			.product_title {
				padding: 5px;
				padding-left: 15px;
				padding-top: 10px;
				font-size: 14px;
			}
			.product_list {
				height: 180px;
				padding: 10px;
				overflow: scroll;
				display: flex;
				flex-direction: column;
				gap: 5px;
				padding-top: 0;

				&::-webkit-scrollbar {
					width: 0;
					height: 0;
				}

				.list_item {
					padding: 5px;
					border: 1px solid $col-m3;
					border-radius: 8px;
					display: flex;
					justify-content: space-between;
					gap: 10px;
					align-items: center;

					@media screen and (max-width: 538px) {
						flex-direction: column;
					}

					&:hover {
						border: 2px solid $col-p5;
					}

					img {
						width: 100px;
						height: 67px;
						border-radius: 5px;

						@media screen and (max-width: 538px) {
							width: 80%;
							height: 100px;
						}
					}
					.item_title {
						// color: $col-p1;
					}
					.item_buttons {
						display: flex;
						gap: 5px;
						align-items: center;
						position: relative;
						right: 0;
						font-size: 20px;

						button {
							padding: 0px;
							width: 30px;
							height: 30px;
							font-size: 20px;
						}

						@media screen and (max-width: 538px) {
							width: 100%;
							button {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}

	.positions {
		font-size: 15px;
		margin-top: 10px;
		background: $col-m3;
		border-radius: 8px;
		padding: 10px;
		// max-width: 650px;
		display: flex;
		flex-direction: column;

		.title {
			margin-bottom: 5px;
		}
		.position {
			opacity: 0.6;
		}
	}

	.amount {
		margin-top: 10px;
	}

	.order_button {
		background: $col-p4;
		font-size: 16px;
		margin-top: 10px;
		padding: 12px;
	}
}
