.coupon {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #d4a373;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid $col-m3;

    &[data-used="true"] {
        background: rgba(1, 1, 1, 0.1);
        user-select: none;
    }

    .used {
        background: $col-m3;
        padding: 10px;
        text-align: center;
        border-radius: 8px;
    }

    .coupon_title {
        font-weight: 600;
        letter-spacing: 3px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $col-m3;
        padding-bottom: 10px;
    }

    .positions {
        .pos_title {
            opacity: 0.7;
            font-size: 13px;
        }

        .position {
            span {
                font-size: 13px;
            }
        }
    }

    .use_button {
        background: $col-p4;
    }

    .desc {
        opacity: 0.6;
        font-size: 12px;
    }
}

.loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(2px);
}

.using_message {
    position: absolute;
    z-index: 3;
    bottom: 15px;
    text-align: center;
    left: 0;
    width: 100%;
}
